@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    background: rgb(255,133,171);
}

h1 {
    color: transparent;
    font-size: 120px;
    padding-bottom: 5px;
}

h2 {
    color: transparent;
    font-size: 45px;
    padding-top: 0px;
}
            
button {
    color: #ffffff;
    font-family: "Archivo Black", sans-serif;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    border-color: transparent;
    background: rgb(255,133,171);
    box-shadow: 0 0 15px #666666;
}

.card {
    text-align:center;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #666666;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 25px;
}

.gradient > span {
    font-family: "Archivo Black", sans-serif;
    background: linear-gradient(90deg, rgba(255,133,171,1) 35%, rgba(133,183,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
